<strong>Hi, {{ username }}</strong>

<p>You have a new meetup subscription: {{ title }}</p>

<img src="{{ bannerUrl }}" alt="{{ title }}">

<h3>Description:</h3>
<p>{{ description }}</p>

<p>{{ where }} - {{ when }}</p>
